<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <title>CRUD</title>
</head>
<body>

    <h1 class="crud"> let`s make a crud </h1>
    <form action="/quotes" method="POST">
       
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button class="submit" type="submit">Submit</button>

        <h2 class="quot"> Quotes </h2>

        <ul class="quotes">
          <!-- Loop through quotes -->
          <% for(var i = 0; i < quotes.length; i++) {%>
            <li class="quote">
              <!-- Output name from the iterated quote object -->
              <span><%= quotes[i].name %></span>:
              <!-- Output quote from the iterated quote object -->
              <span><%= quotes[i].quote %></span>
            </li>
          <% } %>
        </ul>
      </form>

          <div class="update">
            <h2>   let`s update the quotes  </h2>
          <button id="update-button"> update </button>

          </div>


          <div>
            <h2>Let`s remove someone quote !</h2>
            <p class="delete-one">
         Delete one of Mohamed`s quotes
            </p>
            <button id="delete-button">Delete mohamed`s  quote</button>
          </div>

          <div id="message"></div>

  <script src = "/main.js"> </script>



</body>
</html>